@font-face {
    font-family: "Pixel";
    src: url("../../fonts/dogica.otf");
}

@font-face {
    font-family: "PixelBold";
    src: url("../../fonts//dogicabold.otf");
}

@font-face {
    font-family: "UbuntuRegular";
    src: url("../../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "CourierBold";
    src: url("../../fonts/courier-bold.ttf");
}

.h6Sub {
    font-family: "UbuntuRegular";
    font-size: 22px;
    color: #3D3D3D;
    width: 70%;
}

.h1Title {
    font-family: "PixelBold";
    font-size: 40px;
}

.inputLabel {
    font-family: "Pixel";
    
}

.nes-input {
    height: 55px;
    width: 523px;
}

.nes-textarea{
    height: 55px;
    width: 523px;
}

::placeholder {
    font-family: "Pixel";
}

.h4footer {
    font-family: "UbuntuRegular";
    font-size: 22px;
    color: #3D3D3D;
}

.divIzq {
    width: 100%;
    height: 100%;
    display: grid;
    padding-left: 50px;
    grid-template-rows: minmax(250px, auto)
}

.pFooter {
    margin: 10px;
    font-family: "CourierBold";
    font-size: 22px;
}

.divEncabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formFooter {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.formulario > div {
    padding: 5px;
}

.footerContact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divPrincipalContact {
    display: grid ;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.btnForm {
    width: 308px;
    height: 48px;
    left: 11px;
    top: 16px;
    border: none;
    color: #439B41;
    box-shadow: inset 4px 3px 0px rgba(93, 150, 92, 0.67);
}

.btnForm:hover {
    background: #6FB36E;
    color: #fff;
}

span {
    font-family: 'CourierBold';
    font-style: normal;
    font-weight: 5;
    font-size: 22px;
    line-height: 24px;
    color: #439B41;
}
span:hover {
    color: white;
}


