.contenedorHome {
	margin: auto;
	display: table;
}

.h1Home {
	position: relative;
	float: left;
	background: #ececec;
	color: #3d3d3d;
}

.h1Home span {
	position: absolute;
	right: 0;
	width: 0;
	background: #ececec;
	border-left: 5px solid #000;
	height: 50px;
	animation: escribir 5s steps(21) infinite alternate;
}

.contenedorImgHome {
	text-align: center;
}

@keyframes escribir {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}
