@font-face {
    font-family: "Pixel";
    src: url("../../fonts/dogica.otf");
}

@font-face {
    font-family: "PixelBold";
    src: url("../../fonts//dogicabold.otf");
}

@font-face {
    font-family: "UbuntuRegular";
    src: url("../../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "CourierBold";
    src: url("../../fonts/courier-bold.ttf");
}


.nes-btn {
    font-family: "CourierBold";
    width: 197px;
    height: 55px;
    font-style: normal;
    font-weight: 5;
    font-size: 24px;
    line-height: 27px;
}



.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ulNav li {
    padding: 5px;
}

.divPrincipal {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, minmax(130px, auto));
    justify-content: center;
}

.navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    animation: question infinite 1s ease-in-out;
}

@keyframes question {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }

}




.navRedes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.redesHover1 {
    width: 38px;
    height: 38px;
    background-image: url("../assets//githubIcon.png");
}

.redesHover1:hover {
    transition: all 0.5s ease-in-out;
    background-image: url("../assets/redesgithover.svg");
}

.redesHover2 {
    width: 38px;
    height: 38px;
    background-image: url("../assets/emailIcon.png");
}

.redesHover2:hover {
    transition: all 0.5s ease-in-out;
    background-image: url("../assets/redesmailhover.svg");
}

.redesHover3{
    width: 38px;
    height: 38px;
    background-image: url("../assets/ico-linkedin\ relleno.png")
}

.redesHover3:hover {
    transition: all 0.5s ease-in-out;
    background-image: url("../assets/redesInhover.svg");
}

.hoverWpp {
    width: 54px;
    height: 54px;
    background-image: url("../assets/ico-whatsapp.png");
}

.hoverWpp:hover {
    transition: all 0.5s ease-in-out;
    background-image: url("../assets/wppHover.png");
}

.hoverTll {
    width: 54px;
    height: 54px;
    background-image: url("../assets/ico-telegram2.png");
}

.hoverTll:hover {
    transition: all 0.5s ease-in-out;
    background-image: url("../assets/telegramHover.png");
}



.navFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
